.page {
  position: relative;
  width: 100%;
  min-height: 100dvh;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

aside{
  display: none;
}
main{
  width: 100%;  
}


@media screen and (min-width: 769px) {


  main {

    display: flex;
    flex-wrap: wrap;
    padding: 1em 0;
    justify-content: flex-start;
    align-items: stretch;
    gap: 10px;
  }
  

}
