/* FormArticle.css */


.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

label {
  margin-bottom: 8px;
  font-weight: bold;
}

input,
textarea,
select {
  width: 100%;
  padding: 10px;
  font-size: 14px;
}

textarea {
  resize: vertical;
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #45a049;
}

/* Style pour le champ de fichier */
input[type="file"] {
  margin-bottom: 16px;
}

/* Style optionnel pour améliorer l'affichage du select */
select {
  appearance: none;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #fff;
}

/* Style pour le bouton d'envoi */
button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}