/* ArticleDetail.css */

.article-detail {
  width: 100%;
  max-width: 800px;
  display: flex;
 
  margin: 20px;
}

.article-image {
  position: relative;
  flex: 1;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  padding: 10px;
}


.article-image img {
  position: relative;
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.article-price{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #4caf50;
  color: #fff;
  text-align: center;
  line-height: 30px;
  position: absolute;
  bottom: 5px;
  left: -30px;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 1px 3px 6px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}


.article-info {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;

}

.article-info h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.article-info p {
  font-size: 16px;
  margin-bottom: 8px;
}

.article-info button {
  padding: 10px;
  font-size: 16px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
}

.article-info button:hover {
  background-color: #45a049;
}

#formulaire-ajout-panier #quantite {
  width: 80px;
  margin-right: 20px;
}