.form-container h1 {
  text-align: right;
}
.form {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.form #formulaire-inscription {
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.form #formulaire-inscription .input-group {
  width: 100%;
  display: flex;
  gap: 0.5rem;
}

.form #formulaire-inscription .input-group input {
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 4px 1px rgb(178, 178, 178);
}

.form #formulaire-inscription .input-group input.check {
  background-color: rgba(139, 255, 139, 0.3);
}

.form #formulaire-inscription input[type='submit'] {
  width: 50%;
  padding: 0.5rem;
  border: none;
  border-radius: 8px;
  color: var(--color-header);
  font-weight: var(--font-bold);
  background-color: rgb(255, 210, 74);
  box-shadow: 1px 1px 4px 1px rgb(178, 178, 178);
  transition: var(--transition-config);
}
.form #formulaire-inscription input[type='submit']:disabled {
  color: grey;
  font-weight: var(--font-regular);
  background-color: rgb(248, 248, 248);
  transition: var(--transition-config);
}

.liste {
  width: 100%;
}

.liste ul li {
  text-align: right;
}

.liste ul li {
  list-style-type: none;
  line-height: 0.875rem;
}

.good {
  color: green;
}

.bad {
  color: red;
}

.show-password {
  width: 10% !important;
  padding: 0 !important;
  box-shadow: 0 0 0 0 !important;
}

.rule {
  font-size: 0.8rem;
  line-height: 0.7rem;
  text-align: right;
}
