/* Dashboard.css (nouvelle feuille de style pour Dashboard) */
.dashboard {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.dashboard-title {
  color: #fff;
  padding: 10px;
  text-align: center;
}

.dashbord-components {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* FormArticle.css (ajustements spécifiques au formulaire) */
/* Ajoutez des styles pour le formulaire ici */

/* ArticlesList.css (ajustements spécifiques à la liste d'articles) */
/* Ajoutez des styles pour la liste d'articles ici */